.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1553984840-b8cbc34f5215?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  top: 0;
  left: 0;
}

.container {
  width: 40vw;
  margin: 50px auto;
}

.calendar {
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px;
  border: 2px solid #107733;
  background-color: rgba(229, 229, 229, 0.78);
  text-align: center;
}
/*-----------------DEV STYLE------------------*/
input{
  display: block;
  margin: 40px auto;
  font-size: larger;
  color: rgb(139, 0, 0);
}
button {
  display: block;
  padding: 20px;
  background-color: rgba(139, 0, 0, 0.61);
  margin: 0 auto;
  color: aliceblue;
}
/*----------------------------------------------*/